{{page-title "AddStudent"}}
<div class="form" style="width: 500px;margin-left: 10px;">
  <label>Name</label>
  {{input type = "text" class= "form-control" value = name placeholder="Enter your name"}}
  <br>
  <label>Email</label>
  {{input type = "email" class= "form-control" value = email placeholder="Enter your email"}}
  <br>
  <label>Mobile Number</label>
  {{input type = "number" class= "form-control" value = studentNumber placeholder="Enter your mobile number"}}
  <br>
  <label>Gpa</label>
  {{input type = "number" class= "form-control" value = gpa placeholder="Enter your gpa"}}
  <br>
  <button type="submit" class="btn btn-success" {{ action 'onSubmit' }}>Submit</button>
</div>

