<div>
  <div style="color: blueviolet;float: left;margin-left:10px;margin-top: 10px;">
    <h1>Students</h1>
  </div>
  <div style="margin-top: 10px;float:right;margin-right: 250px;">
  <!--  <button type="button" class="btn btn-outline-dark">Add Student</button>-->
    <LinkTo @route="addStudent" class="button btn-primary"
            style="background-color:cornflowerblue;text-align: center;font-size: large">Add Student</LinkTo>
  </div>
</div>



<table class="table" style="margin-left: 20px;margin-right: 20px">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">CGPA</th>
    <th scope="col"></th>
  </tr>
  {{#each @model as |student|}}
  <tr>
    <th scope="col">{{student.name}}</th>
    <th scope="col">{{student.email}}</th>
    <th scope="col">{{student.gpa}}</th>
    <th scope="col"><button type="button" class="btn btn-danger" {{ action 'onDelete' student.email}}>Delete</button></th>
  </tr>
{{/each}}
  </thead>
  </table>