{{page-title "Students"}}
<div style="text-align: center;">
  <h1>Students</h1>
</div>

{{#each @model as |student|}}
  <ul>
    <li>Name: {{ student.name }}</li>
    <li>Email: {{ student.email }}</li>
    <li>Number : {{ student.studentNumber }}</li>
    <li>Gpa: {{ student.gpa }}</li>
  </ul>
{{/each}}
<hr>

<div class="form" style="width: 500px;margin-left: 10px;">
  <label>Name</label>
  {{input type = "text" class= "form-control" value = name placeholder="Enter your name"}}
  <br>
  <label>Email</label>
  {{input type = "email" class= "form-control" value = email placeholder="Enter your email"}}
  <br>
  <label>Mobile Number</label>
  {{input type = "number" class= "form-control" value = studentNumber placeholder="Enter your mobile number"}}
  <br>
  <label>Gpa</label>
  {{input type = "number" class= "form-control" value = gpa placeholder="Enter your gpa"}}
  <br>
  <button type="submit" class="btn btn-success" {{ action 'onSubmit' }}>Submit</button>
</div>

<hr>
<div class="form" style="width: 500px;margin-left: 10px;">
  <label>Name</label>
  {{input type = "text" class= "form-control" value = dname placeholder="Enter your name"}}
  <button type="submit" class="btn btn-danger" {{ action 'onDelete' this.dname}}>Delete</button>
</div>

<div class="form" style="width: 500px;margin-left: 10px;">
  <label>Email</label>
  {{input type = "email" class= "form-control" value = email placeholder="Enter your name"}}
  <button type="submit" class="btn btn-primary" {{ action 'onDelete' this.email}}>get Student</button>
</div>